D3K.Diagnostics.Wcf.Demo.Client/Connected Services/ServiceReference/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/D3K.Diagnostics.Wcf.Server" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/D3K.Diagnostics.Wcf.Server" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DoWorkArgs">
    <xs:sequence>
      <xs:element minOccurs="0" name="Arg1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Arg2" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DoWorkArgs" nillable="true" type="tns:DoWorkArgs" />
  <xs:complexType name="DoWorkResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DoWorkResult" nillable="true" type="tns:DoWorkResult" />
</xs:schema>